---
// 组件脚本 (JavaScript)
// 首页
// @author: zhaoyahui
// @since: 2023-04-13
import BaseLayout from "../layouts/BaseLayout.astro";
const pageOptions = {
  title: "首页",
  author: "zhaoyahui",
  date: "2023年4月13日",
  ast: "astro",
};
---

<!-- 组件模板 (HTML + JS 表达式) -->
<BaseLayout options={pageOptions}>
  <div class="home-page">首页</div>
</BaseLayout>
